/*how to get videogame background image to expand to full large top monitor screen size without white spaces*/

/*how to get alert to stop repeating*/
/* turn off the light shows inconsistent black screen and turn on the light shows zoom*/

#gameTitle {
	z-index: 2;
	background-color: rgba(255, 0, 0, 0.3);
	text-align: center;
	color: #b8e554;
	margin-top: 5px;
}

#userNotification{
	z-index: 2;
	background-color: rgba(255, 0, 0, 0.5);
	text-align: center;
	color: #b8e554;
	margin-top: 5px;
}

#userPetName{
	z-index: 2;
	background-color: rgba(155, 122, 250, 0.2);
	text-align: center;
	color: #b8e554;
}

	body {
    background: url(images/retro-s-videogame-tunnel-background-mountains-sun-bit-depth-field-inspired-vintage-videogames-web-print-156623128.jpeg) no-repeat center center fixed;
    background-size: cover;  
}

@keyframes {
/*MOVE PIXELS LEFT AND RIGHT UP DOWN....FOR ANIMATION*/ 
}


ul {
	display: flex;
	background-color: rgba(11, 30, 220, 0.5);
	flex-direction: column;
	font-weight: 900;
	color: lightgreen;
	float: left;
	width: 50%;
	margin-top: 10%;


;
}

tr
	{
	display: flex;
	background-color: rgba(255, 0, 0, 0.6);
	flex-direction: column;
	margin-top: 50px;
	font-weight: 900;
	font-size: 28px;
	color: lightgreen;
	float: left;
	}


#petPicture {
		display: flex;
		z-index: 3;
		background-image: url(images/petpicture.jpg); /*dom manipulation change background image css*/
		background-size: contain;
		background-repeat: no-repeat;
  		width: 125px;
  		height: 125px;
	 	animation: userPicture 4s infinite;
  		position: absolute ;
  		right:  45%;
  		top: 60%;

}

@keyframes userPicture {
	from { margin-top: 40px; }
  	50%  { margin-bottom: 20px; } 
  	to   { margin-bottom: 80px; }
}
/**{
	outline: 1px solid red; use this for debugging
}*/
.playButtons {
	    display: flex;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        width: 175px;
        cursor: pointer;
        margin-top: 35px;
        margin-left: 5px;
}
.startOnOff{
		display: flex;
		background-color: rgba(11, 30, 220, 0.7);
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        width: 235px;
        cursor: pointer;
        margin: 5px;
}

.allLeftContent {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.spaceBetween {
/*	display: flex;
*//*	justify-content: space-between;
*/}
/* vh vw rem em and percentages to use to size thisfor bigger images */




/*how to make a default background image if the url fails? USE LINK FROM NICOLE
http://clipart-library.com/images/Lidjz7zi4.png
*/


/*SPRITE SHEET V COMPLICATE*/


